/* 
==========
Competition
========== */
#competition{
  /* background-color: black; */
  background-color: transparent;
}
#competition .competition_card{
  background-color: #50455B;
  overflow: hidden ;

}
.competition_img_cover{
  display: flex;
  align-items: center; 
}

#competition .buttonContainer{
}


/* screen */


.competition_card_container{
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-x: hidden;
}

.competition_image{
  flex: 1;
  height: auto;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  position: relative;
  width: 100%;
  /* animation: slideIn 1.5s ease-out forwards; */
  /* transform: translateX(-101%); */
    
}
#screen{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  padding: 2rem 0;
  object-fit: cover;

}
#screen img{
  transform: scale(1.5);

}



/* <div style=" background-image: url(https://via.placeholder.com/300x200);
background-position: center;
background-size: cover;
background-repeat: no-repeat;"> */
#screen p{
  color: black;
}
/* .animate {
  border: 1px solid red;
} */


@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}


.competition_image img{
 
  width: auto;
  height: auto;

    
}


.competition_description{
flex: 1;
/* height:min-content; */
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.competition_description p{
  width: 80%;
  text-align: left;
  font-size: var();
  color: black;
}

.active_bg{
  background-image: url('../images/competition_main/CC_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Style the button container */
#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between buttons */
    justify-content: center; /* Center buttons in container */
    margin: 20px 0;
  }
  
  /* Style individual buttons */
  .dynamic-button {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px; /* Equal width */
    height: 100px; /* Equal height */
    background-color: #430945; 
    border: 1px solid #ccc;
    border-radius: 8px; /* Optional: Rounded corners */
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  .dynamic-button {
    background-size: cover;
  }
  /* Add hover effect to buttons */
  .dynamic-button.active {
    background-color: #9c0894;
    color: white;
  }
  
  .competition_card_container{
    display: flex;
  }
  /* Style the image inside the button */

  /* Responsive design for buttons */
  @media screen and (min-width:556px) {
    .competition_card_container{
      padding: 2px;
      display: flex;
      flex-direction: row;
      height: 50vh; 
    }
    #screen img{
      transform: scale(2);
    
    }
    
    
.competition_image{
  
  width: 49%;
  height: 100%;
    
}
    .competition_description{
      flex: 1;
      width: 49;
      height: 1005;
      }
      
      #screen p{
        color: black;
      }
      
      
  }

  

 
#competition button{
  padding: 0;
}